html, body {
  background-color: #fff4eb;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}

.navbar-default, .navbar-brand {
  background-color: #573d3d;
  border-color: #573d3d;
  color: #ffffff !important;
}

.navbar-nav > li > a {
  color: #cfcfcf !important;
}

.navbar-nav > li > a:hover {
  color: #ffffff !important;
}

h1, a > h4 {
  font-family: 'Nunito', sans-serif;
  color: #573d3d !important;
}

a:hover {
  text-decoration: none !important;

}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

//#masonry:after {
//  content: '';
//  display: block;
//  clear: both;
//}


.item {
  float: left;
  width: 350px !important;
  background-color: #ffffff;
  margin: .75% !important;
  padding: 1% 0 1% 0;
  border-radius: 10px;
}

.item:hover {
  background-color: #f3e8e0;

}

a > h4 {
  margin: 3% 3% 0 3%;
}

h5{
  margin: 8px 6px 8px 6px;
}

.image {
  width: 325px !important;
  border-radius: 10px;
  display:block;
  margin:auto;
}

.container {
  padding-left: 2.5%;
  padding-right: 2%;
}

#recipeInfo {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2%;
  overflow: auto;
}

.recipeImg {
  width: 425px !important;
  border-radius: 10px;
  float: left;
  margin: 0 2% 2% 0;
}

.dietaryRestrictions {
  word-spacing: 8px;
}